<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Liste des Formations Du Professeur {{ authProf.nom }} {{ authProf.prenom }}</h2>
</div>

<div class="card-container">

    <div class="card" *ngFor="let formation of data">

        <div
            class="card-header"
            [ngStyle]="{ 'background-image': 'url(' + formation.image + ')' }"
            >
        
            <div 
            class="profile-circle" 
            [ngStyle]="{ 'background-color': formation.backgroundColor }"
            >
                {{ formation.initial }}
            </div>
      </div>

      <div class="card-body">
        <div class="card-title">
            <h3>{{ formation.label }}</h3>
            <p>{{ authProf.nom }} {{ authProf.prenom }}</p>
        </div>
      </div>
  
      <div (click)="navigateToSemestres(formation.id)" class="card-footer">
      
        <!-- View Details Icon -->
        <i class="fa fa-eye" title="Voir les détails" 
           style="color: rgb(10, 64, 134); font-size: 20px; cursor: pointer;"></i>
      </div>
      
    </div>

</div>
  
