<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Liste des Professeurs</h2>
    
   
    <button class="btn btn-warning ms-2">
        <i class="fas fa-plus"></i> Ajouter Professeur
      </button>
  </div>


  <div class="container mt-5">
    
    <table class="table table-bordered table-striped">
        <thead class="table-dark text-center">
            <tr>
              <th style="background-color: black !important; color: white !important;">Avatar</th>
              <th style="background-color: black !important; color: white !important;">Nom</th>
              <th style="background-color: black !important; color: white !important;">Prénom</th>
              <th style="background-color: black !important; color: white !important;">Email</th>
              <th style="background-color: black !important; color: white !important;">Matières</th>
              <th style="background-color: black !important; color: white !important;">Actions</th>
            </tr>
          </thead>
      <tbody>
        <tr *ngFor="let professeur of data">
            <td class="text-center">
                <div class="circle" [ngStyle]="{'background-color': getRandomColor()}">
                  {{ professeur.nom[0] + professeur.prenom[0] | uppercase }}
                </div>
              </td>
          <td>{{ professeur.nom }}</td>
          <td>{{ professeur.prenom }}</td>
          <td>
            <i class="fas fa-envelope me-2 text-dark"></i> 
            {{ professeur.email }}
          </td>
          <td>
            <ng-container *ngIf="professeur.matieres?.length > 0; else noMatiere">
                <span *ngFor="let matiere of professeur.matieres; let i = index"
                      class="badge me-1"
                      [ngClass]="{'bg-primary': i % 2 === 0, 'bg-success': i % 2 !== 0}">
                  {{ matiere.label }}
                </span>
              </ng-container>
              <ng-template #noMatiere>Aucune matière</ng-template>
          </td>

            <!-- Colonne des actions -->
            <td>
              <div class="d-flex justify-content-center align-items-center">
                <button class="btn btn-sm btn-success me-2" (click)="onEdit(professeur)">
                  <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-sm btn-danger" (click)="onDelete(professeur)">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
             
            </td>
        </tr>
      </tbody>
    </table>
  </div>
  