<!--begin::Form-->
<form class="form w-100" [formGroup]="loginForm" novalidate="novalidate" id="kt_login_signin_form" (ngSubmit)="submit()">
  
  <!--begin::Heading-->
  <div class="text-center mb-11">
    <h1 class="fw-bolder mb-3" style="text-transform: uppercase; color: orange">
      Se Connecter
    </h1>
    
    <!--begin::Subtitle-->
    <div class="fw-semibold fs-6" style="font-size: 20px;text-transform: uppercase;color: rgb(10, 64, 134); font-weight: bold !important;">
      Connectez-vous pour gérer vos activités académiques
    </div>
    <!--end::Subtitle--->
   
  </div>
  <!--end::Heading-->

  


  <!-- begin::Alert error-->
  <ng-container *ngIf="hasError">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">
        Informations incorrectes
      </div>
    </div>
  </ng-container>
  <!-- end::Alert error-->

  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <label class="form-label fs-6 " style="color: #000;">Email</label>
    <input class="form-control bg-transparent " type="email" name="email" formControlName="email" autocomplete="off"
      [ngClass]="{
        'is-invalid': loginForm.controls['email'].invalid,
        'is-valid': loginForm.controls['email'].valid
      }" />
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'L\'email est requis',
        control: loginForm.controls['email']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'email',
        message: 'L\'email est invalide',
        control: loginForm.controls['email']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'minLength',
        message: 'L\'email doit comporter au moins 3 caractères',
        control: loginForm.controls['email']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'L\'email doit comporter au maximum 360 caractères',
        control: loginForm.controls['email']
      }"></ng-container>
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="fv-row mb-3">

    <label class="form-label  fs-6 mb-0" style="color: #000;">Password</label>

    <input class="form-control bg-transparent" type="password" name="password" autocomplete="off"
      formControlName="password" [ngClass]="{
        'is-invalid': loginForm.controls['password'].invalid,
        'is-valid': loginForm.controls['password'].valid
      }" />
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Le mot de passe est requis',
        control: loginForm.controls['password']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'Le mot de passe doit comporter au moins 3 caractères',
        control: loginForm.controls['password']
      }"></ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'maxLength',
        message: 'Le mot de passe doit comporter au maximum 100 caractères',
        control: loginForm.controls['password']
      }"></ng-container>

  </div>
  <!--end::Form group-->

  <!--begin::Wrapper-->
  <!-- <div class="d-flex flex-stack flex-wrap gap-3 fs-base fw-semibold mb-8">
    <div></div> -->

    <!--begin::Link-->
    <!-- <a routerLink="/auth/forgot-password" class="link-primary">
      Forgot Password ?
    </a> -->
    <!--end::Link-->
  <!-- </div> -->
  <!--end::Wrapper-->

  <!--begin::Action-->
  <div class="d-grid mb-10">
    <button type="submit" id="kt_sign_in_submit" class="btn" [ngStyle]="{'background-color': 'rgb(10, 64, 134)', 'color': 'white'}" [disabled]="loginForm.invalid">
      <ng-container *ngIf="isLoading$ | async">
        <span class="indicator-progress" [style.display]="'block'">
          Veuillez patienter...
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </ng-container>
      <ng-container *ngIf="(isLoading$ | async) === false">
        <span class="indicator-label">Continue</span>
      </ng-container>
    </button>
  </div>

  <!-- <div class="text-gray-500 text-center fw-semibold fs-6">
    Not a Member yet?

    <a routerLink="/auth/registration" class="link-primary">
      Sign up
    </a>
  </div> -->

  <!--end::Action-->
</form>
<!--end::Form-->

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>
