<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="d-flex align-items-center">
      Liste des Documents et Liens de : 
      <span class="badge bg-dark ms-3 badge-large">{{ cour.label }}</span>
    </h2>
  
    <button class="btn btn-warning ms-4">
      <i class="fas fa-plus"></i> Ajouter Document/Lien
    </button>
  </div>
  
  <div class="card cours-details">
    <table class="table table-hover">
      <tbody>
        <tr *ngFor="let doc of documents">
          <td>
            <i [ngClass]="getIconClass(doc.urlDoc)"></i>
            {{ doc.label}}
          </td>
        </tr>
  
        <tr *ngFor="let lien of liens">
          <td>
            <i class="fa fa-link link-icon"></i>
            <a [href]="lien.urlLien" target="_blank">{{ lien.urlLien }}</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  