/* Styles par défaut avec ombre et transition */
.chart-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }
  
  /* Au survol : Légère augmentation de la taille */
  .chart-card:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
 
  
  